/* ***********************************************
* Variantes                                      *
* Variantes visuales                             *
* (background, outline, ghost, link)             *
* que define la apariencia                       *
* y comportamiento visual según el tipo de botón *
 ************************************************* */

/* ******************
* @mixin / @include *
********************* */

// dispositivos con cursor
@mixin hover-device {
  @media screen and (hover: hover) and (pointer: fine) {
    @content;
  }
}

// dispositivos con pantalla tactil
@mixin touch-device {
  @media screen and (pointer: coarse), (pointer: none), (hover: none) {
    @content;
  }
}

/* *************************
* .btn-background          *
* boton con color de fondo *
**************************** */

.btn-background {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  color: var(--btn-text-color);

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: var(--btn-color-contrast);
      border-color: var(--btn-color-contrast);
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: var(--btn-color-contrast);
      border-color: var(--btn-color-contrast);
    }
  }
}

/* ****************
* .btn-outline    *
* boton con borde *
******************* */

.btn-outline {
  background-color: transparent;
  border-color: var(--btn-color);
  color: var(--btn-color);

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: var(--btn-color);
      border-color: var(--btn-color);
      color: var(--btn-text-color);
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: var(--btn-color);
      border-color: var(--btn-color);
      color: var(--btn-text-color);
    }
  }
}

/* *************************
* .btn-ghost               *
* boton sin fondo ni borde *
**************************** */

.btn-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--btn-color);

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: var(--btn-color-emphasis);
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: var(--btn-color-emphasis);
    }
  }
}

/*
************************
* .btn-link            *
* Estilos para enlaces *
************************ */
.btn-link {
  background-color: transparent;
  border-color: transparent;
  color: var(--btn-color);

  padding: 0;

  text-decoration-line: underline;

  @include hover-device {
    &:hover:not(:disabled) {
      color: var(--btn-color-contrast);
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      color: var(--btn-color-contrast);
    }
  }
}
