/*
*************************************
* Estilos globales para los botones *
************************************* */

@use './variable.scss' as variable;

%base-btn-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

%base-btn-active {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

%base-btn-primary-secondary {
  width: fit-content;
  height: fit-content;
  padding: variable.$padding-button;
  border-radius: variable.$rounded-button;
  transition: color 0.3s ease 0.05s, background-color 0.3s ease;
  text-transform: capitalize;
  font-size: variable.$font-size-button;
}

%base-flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%base-btn-icon {
  width: fit-content;
  height: fit-content;
  column-gap: variable.$column-gap-button;
  padding: 0.4375rem;
  border-radius: variable.$rounded-button;
  transition: color 0.3s ease 0.05s, background-color 0.3s ease;
}

%base-btn-icon-svg {
  flex: none;
  font-size: 35px;
  transition: color 0.3s ease 0.05s, background-color 0.3s ease;
}

%base-btn-icon-span {
  text-align: left;
  text-transform: capitalize;
  line-height: 1rem;
  transition: color 0.3s ease 0.05s, background-color 0.3s ease;
  font-size: variable.$font-size-button;
}

button {
  margin: 0;
  padding: 0;

  // boton q contiene icono
  &.btn-icon-no-border {
    @extend %base-flex-full-center;
    @extend %base-btn-icon;

    svg {
      @extend %base-btn-icon-svg;
      color: variable.$blue-lightning;
    }

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: variable.$blue-deep;

        svg {
          color: white;
        }
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        background-color: variable.$blue-deep;

        svg {
          color: white;
        }
      }
    }

    &:active {
      @extend %base-btn-active;
    }
  }

  &.btn-icon-with-border {
    @extend %base-flex-full-center;
    transition: color 0.3s ease 0.05s, background-color 0.3s ease;
    padding: 0.125rem;
    border: 0.0625rem solid variable.$blue-deep;
    border-radius: 100%;

    svg {
      @extend %base-btn-icon-svg;
      color: variable.$blue-deep;
    }

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: variable.$blue-azure;
        border: 1px solid white;

        svg {
          color: white;
        }
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        background-color: variable.$blue-azure;
        border: 1px solid white;

        svg {
          color: white;
        }
      }
    }

    &:active {
      @extend %base-btn-active;
    }
  }

  // boton q contiene icono y texto
  &.btn-with-icon-text-background {
    @extend %base-flex-full-center;
    @extend %base-btn-icon;

    background-color: variable.$blue-azure;

    svg {
      @extend %base-btn-icon-svg;
      color: white;
    }

    span {
      @extend %base-btn-icon-span;
      color: white;
    }

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: variable.$blue-carbon;
        font-weight: variable.$font-weight-button;

        svg,
        span {
          color: white;
        }
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        background-color: variable.$blue-carbon;
        font-weight: variable.$font-weight-button;

        svg,
        span {
          color: white;
        }
      }
    }

    &:active {
      @extend %base-btn-active;
    }
  }

  &.btn-with-icon-text-border {
    @extend %base-flex-full-center;
    @extend %base-btn-icon;
    border: 0.0625rem solid variable.$blue-carbon;
    transition: color 0.3s ease 0.05s, background-color 0.3s ease;

    svg {
      @extend %base-btn-icon-svg;
      color: variable.$blue-carbon;
    }

    span {
      @extend %base-btn-icon-span;
      color: variable.$blue-carbon;
    }

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        border: 0;
        background-color: variable.$blue-azure;
        font-weight: variable.$font-weight-button;

        svg,
        span {
          color: white;
        }
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        border: 0;
        background-color: variable.$blue-azure;
        font-weight: variable.$font-weight-button;

        svg,
        span {
          color: white;
        }
      }
    }

    &:active {
      @extend %base-btn-active;
    }
  }

  &.btn-with-icon-text-no-border {
    @extend %base-flex-full-center;
    @extend %base-btn-icon;
    @extend %base-btn-primary-secondary;

    svg {
      @extend %base-btn-icon-svg;
      color: variable.$blue-carbon;
    }

    span {
      @extend %base-btn-icon-span;
      color: variable.$blue-carbon;
    }

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        border: 0;
        background-color: variable.$blue-azure;
        font-weight: variable.$font-weight-button;

        svg,
        span {
          color: white;
        }
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        border: 0;
        background-color: variable.$blue-azure;
        font-weight: variable.$font-weight-button;

        svg,
        span {
          color: white;
        }
      }
    }

    &:active {
      @extend %base-btn-active;
    }
  }

  // boton primario para "aceptar" - "si"
  &.btn-primary {
    @extend %base-btn-primary-secondary;

    background-color: variable.$blue-lightning;
    color: white;

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: variable.$blue-azure;
        font-weight: variable.$font-weight-button;
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        background-color: variable.$blue-azure;
        font-weight: variable.$font-weight-button;
      }
    }

    &:active {
      @extend %base-btn-active;
    }
  }

  // boton secundario para "cancelar" - "no"
  &.btn-secondary-with-border {
    @extend %base-btn-primary-secondary;

    border: 0.0625rem solid variable.$blue-lightning;
    color: variable.$blue-azure;

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        color: white;
        background-color: variable.$blue-azure;
        border: 0;
        font-weight: variable.$font-weight-button;
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        color: white;
        background-color: variable.$blue-azure;
        border: 0;
        font-weight: variable.$font-weight-button;
      }
    }

    &:active {
      @extend %base-btn-active;
    }
  }

  &.btn-secondary-no-border {
    @extend %base-btn-primary-secondary;
    color: variable.$blue-carbon;

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        color: white;
        background-color: variable.$blue-azure;
        font-weight: variable.$font-weight-button;
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        color: white;
        background-color: variable.$blue-azure;
        font-weight: variable.$font-weight-button;
      }
    }

    &:active {
      @extend %base-btn-active;
    }
  }
}
