@use './variable.scss' as variable;

/*
*************************************
* Estilos globales para los botones *
************************************* */

%base-btn-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

%base-btn-primary-secondary {
  padding: variable.$padding-button;
  border-radius: variable.$rounded-button;
  transition: color 0.3s ease 0.05s, background-color 0.3s ease;
  text-transform: capitalize;
  font-size: variable.$font-size-button;
}

%flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  // boton q contiene icono
  &.button-with-icon {
    @extend %flex-full-center;

    column-gap: 5px;
    padding: 7px;

    background-color: white;

    transition: color 0.3s ease 0.05s, background-color 0.3s ease;
    border-radius: variable.$rounded-button;
    border: 1px solid variable.$blue-ocean;

    svg {
      flex: none;
      font-size: 15px;
      color: variable.$blue-lightning;
      transition: color 0.3s ease 0.05s, background-color 0.3s ease;
    }

    span {
      color: black;
      text-transform: capitalize;
      line-height: 16px;
      transition: color 0.3s ease 0.05s, background-color 0.3s ease;
      font-size: variable.$font-size-button;
    }

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: variable.$blue-ocean;
        font-weight: variable.$font-weight-button;

        svg,
        span {
          color: white;
        }
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        background-color: variable.$blue-ocean;
        font-weight: variable.$font-weight-button;

        svg,
        span {
          color: white;
        }
      }
    }
  }

  // boton primario para "aceptar" - "si"
  &.button-primary {
    @extend %base-btn-primary-secondary;

    background-color: variable.$blue-carbon;
    color: white;

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: variable.$blue-deep;
        font-weight: variable.$font-weight-button;
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        background-color: variable.$blue-deep;
        font-weight: variable.$font-weight-button;
      }
    }
  }

  // boton secundario para "cancelar" - "no"
  &.button-secondary {
    @extend %base-btn-primary-secondary;

    border: 1px solid variable.$blue-ocean;
    color: variable.$blue-midnight;

    &:enabled {
      cursor: pointer;
    }

    &:disabled {
      @extend %base-btn-disabled;
    }

    // dispositivos con mouse
    @media screen and (hover: hover) and (pointer: fine) {
      &:hover {
        color: white;
        background-color: variable.$blue-abys;
        font-weight: variable.$font-weight-button;
      }
    }

    // dispositivos con pantalla tactil
    @media screen and (pointer: coarse), (pointer: none), (hover: none) {
      &:active {
        color: white;
        background-color: variable.$blue-abys;
        font-weight: variable.$font-weight-button;
      }
    }
  }
}
