/*
***************************
* Prime React - <TabView> *
*************************** */

ul.p-tabview-nav {
  column-gap: 10px !important;

  li.p-unselectable-text {
    a.p-tabview-nav-link {
      margin: 0 !important;
      padding: 10px 6px !important;
      border-radius: 100px !important;
    }
  }
}
