@use './variable.scss' as variable;

/*
***************
* SweetAlert2 *
*************** */

div.swal2-container {
  font-family: variable.$inter !important;

  div.swal2-popup {
    border-radius: 10px !important;
    background-color: variable.$white-smoke;
  }

  button.swal2-confirm,
  button.swal2-cancel {
    color: variable.$white-smoke !important;
    padding: 0.375rem 1.25rem !important;
    border-radius: 0.75rem !important;
    font-weight: 500 !important;
    &:hover {
      opacity: 0.75 !important;
    }
  }

  button.swal2-confirm {
    background-color: variable.$blue-ocean !important;
  }

  button.swal2-cancel {
    background-color: variable.$blue-azure !important;
  }

  button.swal2-close {
    color: variable.$gray-dark !important;
    font-weight: 300 !important;
    &:hover {
      color: variable.$gray-dark !important;
    }
  }
}
