/*
****************************
* Prime React - <Checkbox> *
**************************** */

.p-checkbox .p-checkbox-box {
  border: 1px solid oklch(55.1% 0.023 264.36) !important; // #6b7280
  width: 20px !important;
  height: 20px !important;
}
