@use "./branding";

/*
*******************
* <table> - tabla *
******************* */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  // borde redondeado de tabla
  border: 1px solid branding.$gray-light;
  border-style: hidden;
  border-radius: 15px;
  overflow: hidden;

  // centrar <th>
  div.p-column-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  thead,
  tfoot,
  th {
    background-color: branding.$blue-dark !important;
    color: white;

    span,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white !important;
    }
  }

  td {
    // borde de las casillas de las tablas
    border: 1px solid branding.$gray-light;

    &.p-selection-column {
      // Prime NG - centrar campos chequeables: checkbox, radio button, etc
      text-align: center;
      vertical-align: middle;
    }
  }

  th {
    text-align: center;
    background: transparent !important;

    // borde de las casillas de las tablas
    border: 1px solid white;
  }

  td,
  th {
    padding: 0.125rem 0.375rem !important;

    text-wrap: nowrap;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
      text-wrap: nowrap;
    }
  }

  tr {
    &:nth-child(even) {
      // cambiar color de fondo de filas pares de la tabla: 2, 4, 6, etc.
      background-color: #f2f2f2;
    }
  }

  tbody {
    tr:hover {
      // cambiar color al situar mouse sobre las filas q NO son el <th>
      background-color: #eff6ff !important;
      color: #1d4ed8;
    }

    // Evitar hover en filas que contienen <th>
    tr:has(th):hover {
      background-color: transparent !important;
      color: inherit !important;
    }
  }
}

/*
**************************************
* Prime NG - paginador de las tablas *
************************************** */

div.p-paginator-bottom {
  padding: 5px !important;

  button {
    width: 30px;
    height: 30px;
  }
}
